
.muscleGroupButton {
    border-style: ridge;
    border-radius: 10px;
    border-width: 5px;
    padding: 30px;
    flex: 1 1 calc(25% - 10px);
    max-width: calc(25% - 10px);
    font-size: 20px;
}
button:hover {
    background-color: cornflowerblue;
}
.muscle-selector-main-content {
    display: grid;
    justify-content: center;
    align-items: center;
}
.muscle-buttons-div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.muscles-found-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}